/ejercicio3/build/
/ejercicio3/nbproject/private/
/ejercicio4/build/
/ejercicio12/target/
*/bin/
/lab2/Ejercicio3/build/
/lab2/Ejercicio3/nbproject/private/
/lab2/ejercicio3/build/
/lab2/ejercicio3/nbproject/private/
